[project]
name = "mastered-dev"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "anki>=25.9.2",
    "aqt>=25.9.2",
]
